body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  background-color: tomato;
}
/*Gradient Text*/
#gradient {
  font-size: 72px;
  background: linear-gradient(to right, #00a9f1, #cf00f1);
  -webkit-background-clip: text;
  color: transparent;
}
